<form [formGroup]="proposalForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="customer">
        <div class="row">
          <div class="col">
            <mat-label>Nome do cliente</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="customerFullName" required>
              <mat-error *ngIf="customerFullName.hasError('required')">
                Nome é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>E-mail</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="email" formControlName="customerEmail">
              <mat-error *ngIf="email.hasError('required')">
                E-mail é <strong>obrigatório</strong>
              </mat-error>
              <mat-error *ngIf="email.hasError('email')">
                E-mail <strong>inválido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>N° de telefone</mat-label>
            <mat-form-field class="full-width">
              <input matInput formControlName="customerTelephoneNumber">
              <mat-error *ngIf="telephoneNumber.hasError('required')">
                N° de telefone é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <section class="address">
        <h3>Endereço de entrega</h3>
        <div class="row">
          <div class="col">
            <mat-label>CEP</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="9" type="number" formControlName="zipCode">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Logradouro</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="255" type="text" formControlName="street">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Bairro</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="255" type="text" formControlName="neighborhood">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>Cidade</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="255" type="text" formControlName="city">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>UF</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="255" type="text" formControlName="state">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>Complemento</mat-label>
            <mat-form-field class="full-width">
              <input matInput maxlength="255" type="text" formControlName="notes">
            </mat-form-field>
          </div>
        </div>
      </section>
      <section class="services">
        <h3>Serviço</h3>
        <div class="row">
          <div class="col">
            <mat-label>Tipo de serviço</mat-label>
            <mat-form-field class="full-width">
              <mat-select formControlName="serviceType">
                <mat-option [value]="1">Instalação elétrica</mat-option>
                <mat-option [value]="2">Instalação fotovoltaica</mat-option>
                <mat-option [value]="3">Manutenção elétrica</mat-option>
                <mat-option [value]="4">Manutenção fotovoltaica</mat-option>
              </mat-select> </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Tempo de excecução em dias</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="number" formControlName="excecutionTime">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>Período de garantia</mat-label>
            <mat-form-field class="full-width">
              <mat-select formControlName="warrantyType">
                <mat-option [value]="1">Meses</mat-option>
                <mat-option [value]="2">Anos</mat-option>
              </mat-select> </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Quantidade</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="number" formControlName="warrantyQtd">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>Potência do sistema</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="text" formControlName="power">
            </mat-form-field>
          </div>
        </div>
      </section>
      <section class="products">
        <div class="row">
          <div class="col">
            <h3>Produtos</h3>
          </div>
          <div>
            <button color="primary" mat-raised-button type="button" (click)="addProduct()">
              Novo produto
            </button>
          </div>
        </div>
        <div formArrayName="products">
          <div *ngFor="let products of products.controls; let i = index">
            <div [formGroupName]="i">
              <div class="row">
                <h3>{{ i + 1 }}.</h3>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput type="text" formControlName="name" placeholder="Nome do produto">
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="medium-width">
                    <input matInput type="number" formControlName="quantity" placeholder="Quantidade">
                  </mat-form-field>
                </div>
                <div>
                  <button mat-raised-button color="warn" (click)="removeProduct(i)">Remover</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="prices">
        <h3>Valores</h3>
        <div class="row">
          <div class="col">
            <mat-label>Valor total dos produtos</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="text" mask="separator.0" formControlName="totalPriceProducts"
                (keyup)="sumTotalPrice()">
              <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Valor total da mão de obra</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="text" mask="separator.0" formControlName="labourValue" (keyup)="sumTotalPrice()">
              <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-label>Total</mat-label>
            <mat-form-field class="full-width">
              <input matInput type="text" mask="separator.0" formControlName="totalPrice" readonly>
              <span matTextPrefix>R$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
      </section>
      <section class="payment">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Forma de pagamento</mat-label>
              <mat-select formControlName="paymentMethod" multiple>
                <mat-option *ngFor="let item of paymentMethods" [value]="item.value">{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <h3>Observação</h3>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput maxlength="255" formControlName="notes"></textarea>
            </mat-form-field>
          </div>
        </div>
      </section>
    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="!isLoading;else loading" mat-raised-button color="primary" type="submit">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>
<ng-template #loading>
  <button mat-raised-button type="button" color="primary">
    <mat-spinner color="accent" [diameter]="20"></mat-spinner>
  </button>
</ng-template>
<app-loading *ngIf="loadingService.getStatus()"></app-loading>