<form [formGroup]="proposalForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nova proposta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome do cliente" formControlName="customerFullName">
            <mat-error *ngIf="proposalForm.controls['customerFullName'].hasError('required')">
              Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="proposalForm.controls['email'].hasError('required')">
              E-mail é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="proposalForm.controls['email'].hasError('email')">
              E-mail <strong>inválido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="N° de telefone" formControlName="telephoneNumber">
            <mat-error *ngIf="proposalForm.controls['telephoneNumber'].hasError('required')">
              N° de telefone é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput #notes maxlength="255" placeholder="Observação" formControlName="notes"></textarea>
            <mat-hint align="end">{{notes.value.length}} / 255</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <h3>Endereço de entrega</h3>
      <div formGroupName="address">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="9" placeholder="CEP" type="number" formControlName="zipCode">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="255" placeholder="Logradouro" type="text" formControlName="street">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="255" placeholder="Bairro" type="text" formControlName="neighborhood">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="255" placeholder="Cidade" type="text" formControlName="city">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="255" placeholder="UF" type="text" formControlName="state">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput maxlength="255" placeholder="Complemento" type="text" formControlName="notes">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Produtos</h3>
        </div>
        <div>
          <button color="primary" mat-raised-button type="button" (click)="addProduct()">
            Novo produto
          </button>
        </div>
      </div>
      <div formArrayName="products">
        <div *ngFor="let products of products.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <h3>{{ i + 1 }}.</h3>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nome do produto" type="text" formControlName="name">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="medium-width">
                  <input matInput placeholder="Quantidade" type="number" formControlName="quantity">
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="warn" (click)="removeProduct(i)">Remover</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Valores</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Valor total dos produtos" formControlName="totalPriceProducts">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Valor total da mão de obra" formControlName="labourValue">
            <span matTextPrefix>R$&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
      <h3>Potência</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Potência do projeto" formControlName="power">
          </mat-form-field>
        </div>
      </div>
      <h3>Garantia</h3>
      <div class="row" formGroupName="warranty">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="type" placeholder="Período em">
              <mat-option [value]="1">Meses</mat-option>
              <mat-option [value]="2">Anos</mat-option>
            </mat-select> </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Quantidade" formControlName="qtd">
          </mat-form-field>
        </div>
      </div>
      <h3>Tempo de execução</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Tempo de excecução em dias" formControlName="excecutionTime">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>