<div style="display: flex;padding: 10px;">
  <button style="width: 100%; padding: 10px;" mat-raised-button type="button" color="primary" (click)="printPDF()">
    <mat-icon>download</mat-icon>
    Baixar proposta
  </button>
</div>
<div #content class="content">
  <header>
    <img src="assets/logo-spot-solar.png" alt="Logo SpotSolar">
  </header>
  <h2 class="title">Proposta Comercial nº {{proposal.id}}</h2>
  <main>
    <table>
      <tr>
        <th>Dados da cliente</th>
        <th></th>
      </tr>
      <tr>
        <td>Nome</td>
        <td> {{proposal.customer.customerFullName}}</td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td> {{proposal.customer.email}}</td>
      </tr>
      <tr>
        <td>Endereço</td>
        <td>{{proposal.address.street}}, {{proposal.address.neighborhood}}, {{proposal.address.city}} -
          {{proposal.address.state}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Dados da instalação</th>
        <th></th>
      </tr>
      <tr>
        <td>Tipo de serviço</td>
        <td>{{proposal.service.serviceType === 1 ? 'Instalação elétrica'
          : proposal.service.serviceType === 2 ? 'Instalação fotovoltaica'
          : proposal.service.serviceType === 3 ? 'Manutenção elétrica'
          : 'Manutenção fotovoltaica'}}</td>
      </tr>
      <tr *ngIf="proposal.service.power">
        <td>Potência do sistema</td>
        <td>{{proposal.service.power}} kWp</td>
      </tr>
      <tr>
        <td>Prazo de execução</td>
        <td>{{proposal.service.excecutionTime}} dias</td>
      </tr>
      <tr>
        <td>Garantia do serviço</td>
        <td>{{proposal.service.warrantyQtd}} {{proposal.service.warrantyType == 1 ? 'meses' :
          'anos'}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
      </tr>
      <tr *ngFor="let element of proposal.products">
        <td>{{ element.name }}</td>
        <td>{{ element.quantity }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Valores</th>
        <th></th>
      </tr>
      <tr>
        <td>Forma de pagamento</td>
        <td>{{ proposal.paymentMethod}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ proposal.totalPrice | currency }}</td>
      </tr>
    </table>

    <span>Caso tenha alguma dúvida ou precise de mais informações, por favor, entre em contato conosco.</span>
    <span>Jundiaí, {{ proposal.createdAt | date:'dd' }} de {{ proposal.createdAt | date:'MMMM' }} de
      {{ proposal.createdAt | date:'yyyy' }}.</span>
    <div>
      <p>Atenciosamente,</p>
      <p>SpotSolar</p>
    </div>
  </main>
  <footer>
    <span>SpotSolar - Energia Solar</span>
    <span>Rua São José dos Campos, 426 - vila Ruy Barbosa, Jundiaí - SP, 13219-110</span>
    <span>Telefone: (11) 98299-5061</span>
    <span>E-mail: joaogomes3759@gmail.com</span>
  </footer>
</div>
