<div style="display: flex;padding: 10px;">
  <button style="width: 100%; padding: 10px;" mat-raised-button type="button" color="primary" (click)="printPDF()">
    <mat-icon>download</mat-icon>
    Baixar proposta
  </button>
</div>
<div #content class="content">
  <header>
    <img src="assets/logo-spot-solar.png" alt="Logo SpotSolar">
  </header>
  <h2 class="title">Proposta Comercial</h2>
  <main>
    <div class="customer">

      <div class="customer-box1">
        <div class="customer-header">
          <span>Cliente:</span>
        </div>
        <div class="customer-header">
          <span>E-mail:</span>
        </div>
        <div class="customer-header">
          <span>Endereço:</span>
        </div>
      </div>

      <div class="customer-box">
        <div class="customer-row">
          {{proposal.customerFullName}}
        </div>
        <div class="customer-row">
          {{proposal.email}}
        </div>
        <div class="customer-row">
          {{proposal.address.street}}, {{proposal.address.neighborhood}}, {{proposal.address.city}} -
          {{proposal.address.state}}
        </div>
      </div>
    </div>

    <div class="extra">
      <div class="extra-box1">
        <div class="extra-header">
          <span>Potência do sistema:</span>
        </div>
        <div class="extra-header">
          <span>Prazo de execução:</span>
        </div>
        <div class="extra-header">
          <span>Garantia do serviço:</span>
        </div>
        <div class="extra-header">
          <span>Forma de pagamento:</span>
        </div>
      </div>

      <div class="extra-box">
        <div class="extra-row">
          {{proposal.power}} kWp
        </div>
        <div class="extra-row">
          {{proposal.excecutionTime}} dias
        </div>
        <div class="extra-row">
          {{proposal.warranty.qtd}} {{proposal.warranty.type == 1 ? 'meses' :
          'anos'}}
        </div>
        <div class="extra-row">
          12x no cartão, à vista, ou financiamento em até 370x
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="proposal.products" class="mat-elevation-z1">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let element;" [ngClass]="{'highlight': printPDF == element.id}"> {{element.name}}
        </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef> {{proposal.totalPrice | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <span>Caso tenha alguma dúvida ou precise de mais informações, por favor, entre em contato conosco.</span>
    <span>Jundiaí, {{ proposal.createdAt | date:'dd' }} de {{ proposal.createdAt | date:'MMMM' }} de
      {{ proposal.createdAt | date:'yyyy' }}.</span>
    <div>
      <p>Atenciosamente,</p>
      <p>SpotSolar</p>
    </div>
  </main>
  <footer>
    <span>SpotSolar - Energia Solar</span>
    <span>Rua São José dos Campos, 426 - vila Ruy Barbosa, Jundiaí - SP, 13219-110</span>
    <span>Telefone: (11) 98299-5061</span>
    <span>E-mail: joaogomes3759@gmail.com</span>
  </footer>
</div>